.social__brands--black {
    color: black;
}

.social__brands--white {
    color: white;
}

.button__icon--black {
    color: black;
}

.button__icon--white {
    color: white;
}

.logo__name--black {
    color: black;
}
.logo__name--white {
    color: white;
}