html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body button:hover {
  cursor: pointer;
}

body {
  overflow: hidden;
}

#mainHero {
  transition: 0.5s;
}

.main header {
  height: 15vh;
  margin: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main header .social i {
  font-size: 1.5em;
}
.main header .buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}
.main header .buttons #colorMode p {
  font-size: 1.2em;
  width: 50px;
}
.main header .buttons #langMode p {
  font-weight: 700;
}

.social .social__brands {
  margin: 12px;
  font-size: 16px;
}

.logo .logo__name {
  font-size: 2em;
  font-weight: 600;
}
.logo .logo__name span i {
  color: red;
  font-size: 2;
  padding: 0.5em;
}

button {
  font-size: 2em;
  background-color: transparent;
  border: none;
}
button p:hover {
  color: red;
}

.hero {
  height: 70vh;
  margin: 0 64px 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero .hero__image {
  border-radius: 50%;
  min-width: 300px;
  width: 300px;
  max-height: 300px;
  overflow: hidden;
  border: 2px solid black;
  transition: 1s;
}
.hero .hero__image:hover {
  scale: 1.4;
}
.hero .hero__image:hover img {
  scale: 1.3;
}
.hero .hero__image img {
  transition: 0.5s;
  width: 100%;
}
.hero .hero__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}
.hero .hero__name h1 {
  font-size: 5em;
  padding: 32px;
}
.hero .hero__name h1 span span {
  font-weight: 900;
  text-decoration: underline;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
}
.hero .hero__name p {
  color: grey;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    scale: 2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    scale: 2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
#collapseMenu {
  background-color: salmon;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  transition: 0.5s;
}
#collapseMenu header {
  height: 15vh;
  margin: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#collapseMenu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0 64px 96px;
}
#collapseMenu .menu .menu__links li {
  margin: 1em;
}
#collapseMenu .menu .menu__links li a {
  color: white;
  font-size: 3.5em;
  margin: 1em;
}
#collapseMenu .menu .menu__links li a .langMarker:hover {
  color: red;
}
#collapseMenu .menu .menu__info {
  margin-left: 64px;
}
#collapseMenu .menu .menu__info h4 {
  color: red;
  font-size: 1.5em;
  padding: 0.5em 0;
}
#collapseMenu .menu .menu__info p {
  color: white;
  padding: 0.5em 0;
}
#collapseMenu .menu .menu__info p a {
  color: white;
}
#collapseMenu .menu .menu__info .line {
  margin-bottom: 16px;
  height: 32px;
  width: 50%;
  border-bottom: 2px solid red;
}

.show {
  transform: translate(0);
}

.hide {
  transform: translate(100%);
}

.showTwo {
  transform: translate(0);
}

.hideTwo {
  transform: translateY(-100%);
}

.social__brands--black {
  color: black;
}

.social__brands--white {
  color: white;
}

.button__icon--black {
  color: black;
}

.button__icon--white {
  color: white;
}

.logo__name--black {
  color: black;
}

.logo__name--white {
  color: white;
}

body {
  font-family: "Oswald", serif;
  transition: 2s;
}

.dark {
  background-color: #1D3E53;
  color: white;
}
.dark h1, .dark h2, .dark h3, .dark p, .dark span, .dark i {
  color: white;
}
.dark #collapseMenu {
  background-color: #1D3E53;
}
.dark .hero__image {
  background-color: #77ABB7;
  border: 2px #254B62 solid;
}

#times {
  font-size: 5em;
}/*# sourceMappingURL=style.css.map */